<!DOCTYPE html>
<html lang="en">
<head>
  <title>MES COURSES</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  <script src="MesCourses.js"></script>
<script src="MesCoursesDetail.js"></script>
<script src="MesCourses.component.js"></script>
<link rel="stylesheet" href="MesCourses.css">
</head>
<body>

<div class="container">

	</form>
   
    <button type="button" class="btn btn-primary">MES COURSES</button> 
    <!-- <button type="button" class="btn btn-secondary">Ville</button> -->
    <!--<button type="button" class="btn btn-success">Date</button> -->
    
        
      	<form data-ng-submit="ajouter()">
		<input type="text" data-ng-model="task"> <input type="button"
			data-ng-click="ajouter()" data-ng-disabled="!task.length"
			value="Ajouter" /> <input type="button" data-ng-click="selectAll()"
			value="Sélectionner tout">
 
      
    <!-- <button type="button" class="btn btn-primary">Libellé</button> -->
    <!-- <button type="button" class="btn btn-secondary">Rayon</button> -->
    <!-- <button type="button" class="btn btn-success">Quantité</button> -->
    
</div>

</body>
</html>
